header
    img.logo(src="./DAMarket.png", alt="DAMarket")
    .burger
        span
        span
        span
    nav.nav-menu
        ul.nav-list
            li.nav-item: a(href='/myAds') My ads
            li.nav-item: a(href='') Announcement
            li.nav-item: a(href='') Message
            li.nav-item: a(href='/register'): button.btn Register
            li.nav-item: a(href='/login'): button.btn Login