header
    a(href="/"): img.logo(src="./DAMarket.png", alt="DAMarket")
    .burger
        span
        span
        span
    nav.nav-menu
        ul.nav-list
            if user == null 
                li.nav-item: a(href='/register'): button.btn Register
                li.nav-item: a(href='/login'): button.btn Login
            else
                li.nav-item: a(href='/myAds') My ads
                li.nav-item: a(href='') Notification
                li.nav-item: a(href='/profile'): img.profilImgHe(src=(user.photo == null)? "../userPhoto.png": user.photo, alt="user")
                li.nav-item: a(href='/logout'): button.btn Log Out