.orderForm{
    display: none;
}

.contentOrder{z-index: 1;}

.orderContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    height: 70%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 3%;
    padding: 0 50px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 20px;
    z-index: 1;
}

.orderContainer.active{
    z-index: -1;
}

.photoItem{
    display: flex;
    align-items: center;
}

.photo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-left: -2%;
    border-radius: 28px;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 28px;
}

.product-info {
    text-align: center;
    width: 60%;
}

.product-info p {
    margin: 10px 0;
}

.orderTitle {
    font-size: 40px;
    font-weight: bold;
    color: #333;
}

.price {
    font-size: 30px;
    color: #3498db;
    margin-bottom: 10px;
    font-weight: bold;
}

.descriptions {
    font-size: 20px;
    color: #777;
    -webkit-line-clamp: 2;
}

.order-button {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 3%;
    margin-right: 3%;
    background-color: #235d85;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.order-button:hover {
    background-color: #14374e;
}

div.closed{
    position: absolute;
    filter: invert();
    margin: 8px 93%;
    cursor: pointer;
}

.closed img{
    width: 17px;
}

.orderForm {
    position: absolute;
    width: 100%;
    height: auto;
    /* margin: -40% 37%; */
    padding: 0 30px;
    background-color: #fff;
    border-radius: 20px;
    color: #000;
}

.orderForm label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

.orderForm input,
.orderForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: #dfdfdf;
    color: #000;
}

.orderForm textarea {
    height: 100px;
    resize: vertical;
}

.buttonOrder {
    display: inline-block;
    width: 100%;
    padding: 5px 15px;
    margin-bottom: 1%;
    margin-top: 1%;
    background-color: #235d85;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonOrder:hover {
    background-color: #194460;
}


@media (max-width: 1280px) {
    .orderContainer{height: 55%; margin-top: 10%;}
    .orderForm{width: 95%;}

    .product-info{width: 110%; margin-left: -7%;}
    .photo {width: 85%;}
    .order-button{margin-right: 3%;}
}

@media (max-width: 1060px) {
    .orderContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 20px;
        margin-top: 10%
    }

    .product-info{
        width: 110%;
        margin-left: 0%;
}

    .photoItem {
        width: 100%;
        padding: 10px;
    }

    .photo {
        width: 100%;
        max-height: 400px;
        margin-left: 0;
    }

    .product-info {
        width: 100%;
    }
    
    .orderForm {
        position: absolute;
        bottom: 0%;
        width: 90%;
        height: 90%;
        /* margin: 20px 0 0; */
        padding: 20px;
        border-radius: 20px;
    }

    div.closed{
        margin: 2px 81%;
    }
    
    .closed img{
        width: 20px;
    }

    .order-button{margin-right: 3%;}
}

@media (max-width: 1000px) {
    .orderContainer{
        max-width: 80%;
    }
}