a{
    font-weight: bold;
    color: #2d3e50;
}

span{font-weight: bold;}

.notificationsContainer{
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
  }
  
.notificationCard{
    background: #fff;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divClear{
    text-align: center;
    display: flex;
    justify-content: center;
}

.clearN {
    width: 30%;
    display: flex;
    justify-content: center;
    background-color: #1a2b3b;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    font-size: 20px;
    border: none;
    transition: background-color 0.3s;
}

.clearN:hover{background-color: #182735;}
  
.notificationContent {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 0 3%;
}
  
.notificationText {
    width: 90%;
    font-size: 1rem;
    color: #333;
}
  
.notificationTime {
    font-size: 0.875rem;
    color: #666;
}

.divStatus{
    width: 1%;
}
  
.notificationStatus {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
  
.notificationNew {
    background-color: #4CAF50;
}
  
.notificationSeen {
    background-color: #9e9e9e;
}
  
.noNotifications {
    text-align: center;
    color: #fff;
    font-size: 20px;
}

@media (max-width: 500px) {
    .divStatus{
        width: 10%;
    }
}