html
    include includes/head.pug
    body
        include includes/header.pug

        form.addItemForm(action="/addItem" method="POST" enctype='multipart/form-data' class=error ? 'errorAddItemForm' : '')
            label Add a photo of the product
            input(type="file" name='file' accept="image/*")

            label Title  
            input(type="text" name="title")

            label Description
            textarea(name="descriptions", cols="30", rows="10") 

            label Price
            input(type="text" name="price")

            if error
                p.error #{error}

            button(type="submit") Add Item