html(lang="en")
    head
        include includes/head.pug
    body
        include includes/header.pug
        div.container
            form.form(action="/register" method="POST" class=error ? 'error-form' : '')
                input(type="text" name="name" placeholder="Name" required)
                input(type="text" name="login" placeholder="Login" required)
                .password-container
                    input(type="password" name="password" id="loginPassword" placeholder="Password" required)
                    .eye-icon(onclick="togglePassword('loginPassword', this)")
                        .eye
                        .eye-slash

                button(type='submit') Register

                if error
                    p.error #{error}

                div.login               
                    p You have account?
                    a(href='/login') Login
                    
        script(src='/password.js')
        script(src='/click.js')