html
    include includes/head.pug
    body
        include includes/header.pug
        
        h2 Список користувачів: 
        ul.userList
            each user in users
                li Ім'я: #{user.name}, Логін: #{user.login}
        script.
            document.addEventListener('DOMContentLoaded', (event) => {
                const burger = document.querySelector('.burger');
                const navMenu = document.querySelector('.nav-menu');
                
                burger.addEventListener('click', () => {
                    burger.classList.toggle('active');
                    navMenu.classList.toggle('active');
                });
            });